<%- include('./partials/navabar') %>

<div class="container-fluid mt-2 mb-5 shadow">
  <div class="container card py-3 shadow-lg">
    <h3 class="text-center border-bottom mb-3 pb-3">جميع المكاتبات</h3>
    <span
      id="filter"
      class="border p-2 rounded bi bi-sort-down"
      style="width: fit-content; cursor: pointer"
      >فلتر</span
    >
    <div class="row" id="searchallfaxs" style="display: none">
      <p class="">بحث بالتاريخ</p>
      <form
        action="/datesearch"
        method="POST"
        id="date-search"
        class="col-lg-6 search-date form-floating"
      >
        <div class="mb-1 form-floating">
          <input type="date" class="form-control" id="from" name="from" />
          <label for="from" class="form-label">من</label>
        </div>

        <div class="mb-1 form-floating">
          <input type="date" class="form-control" id="to" name="to" />
          <label for="to" class="form-label">إلي</label>
        </div>

        <button type="submit" class="search-date btn btn-primary col-lg-3 mt-3">
          بحث
        </button>
      </form>
      <form class="form-floating col-lg-6">
        <div class="mb-1 form-floating">
          <input
            type="text"
            class="form-control"
            id="myInput"
            onkeyup="myFunction()"
            placeholder="بحث برقم المكاتبه"
            title="بحث برقم المكاتبه"
          />
          <label for="myInput">
            <span><i class="bi bi-search text-muted"></i></span>
            <span>بحث برقم المكاتبه</span>
          </label>
        </div>
        <div class="mb-1 form-floating">
          <input
            type="text"
            class="form-control"
            id="myInput2"
            onkeyup="myFunction2()"
            placeholder="بحث بالجهة الواردة"
            title="بحث بالجهة الواردة"
          />
          <label for="myInput2">
            <span><i class="bi bi-search text-muted"></i></span>
            <span>بحث بالجهه الواردة </span>
          </label>
        </div>
        <div class="mb-1 form-floating">
          <input
            type="text"
            class="form-control"
            id="myInput3"
            onkeyup="myFunction3()"
            placeholder="بحث بالفرع المختص"
            title="بحث بالفرع المختص"
          />
          <label for="myInput3">
            <span><i class="bi bi-search text-muted"></i></span>
            <span>بحث بالفرع المختص</span>
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="mt-2">
    <table class="table mt-5 text-center" id="myTable">
      <thead class="text-center bg-dark text-white">
        <tr>
          <th>رقم المكاتبة</th>
          <th>الجهة الواردة</th>
          <th>الفرع المختص</th>
          <th>الموضوع</th>
          <th>تأشيرة السيد / رئيس الجهاز</th>
          <th>تمام الرد</th>
          <th>الوقت والتاريخ</th>
          <th>إعدادات</th>
        </tr>
      </thead>
      <tbody id="mybody">
        <% getfaxs.forEach(fax => { %>
        <tr>
          <td><%= fax.numberOfFax %></td>
          <td><%= fax.from %></td>
          <td><%= fax.branch %></td>
          <td><%= fax.subject %></td>
          <td>
            <% if (fax.signature === "0") { %> <%= "لم يتم التأشير" %> <% } %>
            <% if (fax.signature === "1") { %> <%= "إعاده عرض" %> <% } %> <% if
            (fax.signature === "2") { %> <%= "عرض شخصي" %> <% } %> <% if
            (fax.signature === "3") { %> <%= "تصحيح ومراجعه" %> <% } %>
          </td>
          <td>
            <% if (!fax.reply === "notreply.pdf") { %> تم الرد <% } else{ %> لم
            يتم الرد <% } %>
          </td>
          <td>
            <%= moment(fax.createdAt).format('h:mm:ss / DD-MM-yy') %>
            <br />
          </td>

          <% if (user) { %> <% if (user.role === "admin") { %>
          <td class="d-flex justify-content-center">
            <a href="/showfax/<%=fax._id%>" class="btn btn-primary mx-3"
              >عرض <%= user.name %></a
            >
          </td>
          <% } %> <% if (user.role === "user") { %>
          <td class="d-flex justify-content-center">
            <a href="editfax/<%=fax._id%>" class="btn btn-primary mx-3"
              >تعديل</a
            >
            <form
              action="/deletefax/<%= fax._id %>?_method=delete"
              method="POST"
            >
              <button class="btn btn-danger">حذف</button>
            </form>
            <a href="/showfax/<%=fax._id%>" class="btn btn-primary mx-3"
              >عرض <%= user.name %></a
            >
          </td>
          <% } %> <% } %>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<%- include('./partials/footer') %>
